apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    globalArguments:
      - "--global.sendanonymoususage=false"
      - "--global.checknewversion=false"

    additionalArguments:
      - "--serversTransport.insecureSkipVerify=true"
      - "--log.level=INFO"

    ports:
      web:
        redirectTo:
          port: websecure
      websecure:
        tls:
          enabled: true
      traefik:
        expose:
          default: false  # 이 부분이 문제였을 수 있음

    service:
      enabled: true
      type: LoadBalancer
