apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ../../base/cloudflared # Cloudflare Tunnel
  - ../../cert-manager/overlays/production # Real Let's Encrypt Issuer
