apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server
  namespace: argocd
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`argocd.duchi.click`)
      priority: 10
      services:
        - name: argocd-server
          port: 80
          scheme: h2c
      middlewares:
        - name: argocd-headers
  tls:
    secretName: argocd-server-tls
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: argocd-headers
  namespace: argocd
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"
    customResponseHeaders:
      X-Forwarded-Proto: "https"
