apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  # ArgoCD 공식 설치 매니페스트
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
  # 커스텀 리소스
  - namespace.yaml
  - ingressroute.yaml
