apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    globalArguments:
      - "--global.sendanonymoususage=false"
      - "--global.checknewversion=false"

    additionalArguments:
      - "--serversTransport.insecureSkipVerify=true"
      - "--log.level=INFO"

    ports:
      web:
        redirectTo:
          port: websecure
        forwardedHeaders:
          trustedIPs:
            - 10.42.0.0/24    # k3s pod CIDR
            - 127.0.0.1/32
      websecure:
        tls:
          enabled: true
        forwardedHeaders:
          trustedIPs:
            - 10.42.0.0/24    # k3s pod CIDR
            - 127.0.0.1/32
      traefik:
        expose:
          default: false

    service:
      enabled: true
      type: LoadBalancer
