apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: default
  labels:
    app: n8n
    component: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
      component: app
  template:
    metadata:
      labels:
        app: n8n
        component: app
    spec:
      securityContext:
        fsGroup: 1000
        runAsUser: 1000
        runAsGroup: 1000
      containers:
        - name: n8n
          image: docker.n8n.io/n8nio/n8n:2.4.6 # https://hub.docker.com/r/n8nio/n8n
          ports:
            - containerPort: 5678
          env:
            # --- 기본 설정 ---
            - name: GENERIC_TIMEZONE
              value: "Asia/Seoul"
            - name: TZ
              value: "Asia/Seoul"
            - name: NODE_ENV
              value: "production"

            # --- 네트워크 설정 ---
            - name: N8N_HOST
              value: "n8n.duchi.click"
            - name: N8N_PORT
              value: "5678"
            - name: N8N_PROTOCOL
              value: "https"
            - name: WEBHOOK_URL
              value: "https://n8n.duchi.click/"

            # --- 보안 설정 ---
            - name: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
              value: "true"
            - name: N8N_ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: encryption-key

            # --- Database 설정 (PostgreSQL) ---
            - name: DB_TYPE
              value: "postgresdb"
            - name: DB_POSTGRESDB_HOST
              value: "n8n-postgres"
            - name: DB_POSTGRESDB_PORT
              value: "5432"
            - name: DB_POSTGRESDB_DATABASE
              value: "n8n"
            - name: DB_POSTGRESDB_USER
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: db-user
            - name: DB_POSTGRESDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: db-password

          # 헬스 체크
          livenessProbe:
            httpGet:
              path: /healthz
              port: 5678
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /healthz
              port: 5678
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 5

          volumeMounts:
            - name: data
              mountPath: /home/node/.n8n
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "768Mi"
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: n8n-data
