apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n-postgres
  namespace: default
  labels:
    app: n8n
    component: database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
      component: database
  template:
    metadata:
      labels:
        app: n8n
        component: database
    spec:
      containers:
        - name: postgres
          image: postgres:16.6-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: db-user
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: db-password
            - name: POSTGRES_DB
              value: "n8n"
          volumeMounts:
            - name: db-data
              mountPath: /var/lib/postgresql/data
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
      volumes:
        - name: db-data
          persistentVolumeClaim:
            claimName: n8n-db-data
