apiVersion: v1
kind: ConfigMap
metadata:
  name: openclaw-config
  namespace: default
data:
  openclaw.json: |
    {
      "gateway": {
        "mode": "local",
        "controlUi": {
          "allowInsecureAuth": true
        }
      },
      "channels": {
        "discord": {
          "dm": {
            "policy": "allowlist"
          }
        }
      }
    }
